body {
  background-color: #303030;
  margin: 0px;
  padding: 0px;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #EB5757;
  color: white;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 15px;
}

img {
  border-radius: 15px 15px 0px 0px;
  width: 250px;
  height: 120px;
}

.text-holder {
  background-color: white;
  padding-left: 4px;
  font-family: 'Open Sans', sans-serif;
}

.block {
  width: 250px;
  background-color: white;
  border-radius: 15px;
}

h2 {
  padding-left: 2px;
  padding-left: 4px;
}

p {
  padding-left: 2px;
  font-size: 10px;
}

@media (max-width: 1120px) {
  .row1 {
    justify-content: space-between;
  }
}

@media (max-width: 1855px) {
  .row1 {
    justify-content: space-around;
  }
}

@media (max-width: 510px) {
  .row1 {
    margin: 0 auto;
    display: block;
  }
  .block {
    margin: 0 auto;
    width: 75%;
  }
  .text-holder {
    border-radius: 15px;
  }
  img {
    width: 100%;
  }
  p {
    padding-bottom: 15px;
  }
}

@media (max-width: 700px) {
  .row1 {
    margin: 0 auto;
    display: block;
  }
  .block {
    margin: 0 auto;
    width: 75%;
  }
  .text-holder {
    border-radius: 15px;
  }
  img {
    width: 100%;
  }
  p {
    padding-bottom: 15px;
  }
}

@media (max-width: 850px) {
  .row1 {
    margin: 0 auto;
    display: block;
  }
  .block {
    margin: 0 auto;
    width: 75%;
  }
  .text-holder {
    border-radius: 15px;
  }
  img {
    width: 100%;
  }
  p {
    padding-bottom: 15px;
  }
}
